<div class="block">
<div class="second-block">
    <div class="catalog">
        <app-laptop></app-laptop>
        <a href="">Ноутбуки</a>
    </div>
    <div class="catalog">
        <app-pc></app-pc>
        <a href="">Компьютеры</a>
    </div>
    <div class="catalog">
       <app-monitory></app-monitory>
        <a href="">Мониторы</a>
    </div>
    <div class="catalog">
       <app-gaming></app-gaming>
         <a href="">Gaming</a>
     </div>
     <div class="catalog">
          <app-tablets></app-tablets>
          <a href="">Планшеты</a>
      </div>
      <div class="catalog">
        <app-cables></app-cables>
        <a href="">Кабели и переходники</a>
    </div>
</div>
<div class="second-block">
 <div class="second-catalog">
    <app-components></app-components>
    <a href="">Компьютерные <br> комлектующие</a>
    <a href="">SSD</a>
    <a href="">Системы охлаждения</a>
    <a href="">Видеокарты</a>
    <a href="">Оперативная память</a>
    <a href="">Процессоры</a>
    <a href="">Материнские платы</a>
    <a href="">Жесткие диски и дисковые <br> массивы</a>
    <a href="">Блоки питания</a>
 </div>
 <div class="second-catalog">
    <app-net></app-net>
    <a href="">Сетевое <br> оборудование</a>
    <a href="">Маршрутизаторы</a>
    <a href="">Комутаторы</a>
    <a href="">Сетевые адаптеры</a>
    <a href="">Пассивное сетевое <br> оборудование</a>
    <a href="">Беспроводные точки доступа</a>
    <a href="">Ретрансляторы Wi-Fi</a>
    <a href="">Патч-корды</a>
 </div>
 <div class="second-catalog">
    <app-headphones></app-headphones>
    <a href="">Наушники и аксессуары</a>
    <a href="">Наушники</a>
    <a href="">TWS</a>
    <a href="">Игровые гарнитуры</a>
    <a href="">Вакуумные наушники</a>
    <a href="">Наушники вкладыши</a>
    <a href="">Накладные наушники</a>
    <a href="">Полноразмерные наушники</a>
    <a href="">Усилители для наушников</a>
    <a href="">Аксессуары для наушников</a>
 </div>
 <div class="second-catalog">
    <app-claviatur></app-claviatur>
    <a href="">Клавиатуры и мыши</a>
    <a href="">Компьютерные мыши</a>
    <a href="">Игровые поверхности</a>
    <a href="">Клавиатуры</a>
    <a href="">Комплект: клавиатура и мышь</a>
    <a href="">Аксессуары для клавиатур и <br> мышек</a>
 </div>
 <div class="second-catalog">
  <app-aksesuari></app-aksesuari>
    <a href="">Аксессуары для электроники</a>
    <a href="">Флеш память USB</a>
    <a href="">Хабы и кардридеры</a>
    <a href="">Аксессуары для ПК и ноутбуков</a>
    <a href="">Комплектующие для ноутбуков</a>
    <a href="">Сетевые фильтры, адаптеры и <br> удлинители</a>
    <a href="">Чехлы для планшетов</a>
    <a href="">Сумки, рюкзаки и чехлы для <br> ноутбуков</a>
    <a href="">Чистящие средства</a>
 </div>
 <div class="second-catalog">
   <app-ofis></app-ofis>
      <a href="">Оргтехника</a>
      <a href="">МФУ/Принтеры</a>
      <a href="">Сканеры</a>
      <a href="">Расходные материалы для <br> принтеров</a>
      <a href="">Доски, флипчарты</a>
   </div>
</div>
</div>